body {
  margin: 0;
}

* { 
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

//Layout
@import './layout/typography.scss';

// Components
@import './components/footer.scss';
@import './components/header.scss';
@import './components/frontpage.scss';